# Игнорировать базу данных SQLite
db.sqlite3

# Игнорировать директорию миграций
athletes/migrations/

# Игнорировать файлы с данными
*.sqlite3
*.db

# Игнорировать файлы конфигурации с секретами
.env
*.env

# Игнорировать файлы настроек с секретами
settings.py

# Игнорировать временные файлы и кэши
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.pyc
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.whl