{% extends 'base.html' %}

{% block title %}Список дисциплин{% endblock %}

{% block content %}
<div class="container">
    <h1>Список дисциплин</h1>

    <!-- Блок для отображения сообщений -->
    {% if messages %}
    <div class="mt-3">
        <ul class="list-unstyled">
            {% for message in messages %}
            <li class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <ul class="list-group mt-3">
        {% for discipline in disciplines %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ discipline.name }}
            <div>
                <a href="{% url 'discipline_edit' discipline.id %}" class="btn btn-warning btn-sm">Редактировать</a>
                <a href="{% url 'discipline_delete' discipline.id %}" class="btn btn-danger btn-sm">Удалить</a>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">Нет дисциплин для отображения.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'discipline_create' %}" class="btn btn-primary">Добавить дисциплину</a>
</div>
{% endblock %}